*.la
*.lo
*.o
.deps/
.libs/
/Doxyfile
/autom4te.cache/
/compat/test-closefrom
/compat/test-strlcpy
/config.h
/config.log
/config.status
/doc/miredo-checkconf.8
/doc/miredo-server.8
/doc/miredo.8
/libteredo/teredo-mire
/libteredo/test/libteredo-addrcmp
/libteredo/test/libteredo-clock
/libteredo/test/libteredo-hmac
/libteredo/test/libteredo-list
/libteredo/test/libteredo-stresslist
/libteredo/test/libteredo-test
/libteredo/test/libteredo-v4global
/libteredo/test/md5test
/libtool
/libtun6/libtun6-diagnose
/misc/client-hook
/misc/miredo-server.conf
/misc/miredo.conf
/misc/miredo.service
/po/Makefile.in
/po/Makevars.template
/po/POTFILES
/src/miredo
/src/miredo-checkconf
/src/miredo-privproc
/src/miredo-server
/stamp-h1
Makefile
