#!/usr/bin/make -f

%:
	dh $@ --parallel --with autoreconf

DEB_CONFIGURE_EXTRA_FLAGS =	--enable-static --disable-shared \
				--disable-binreloc --enable-miredo-user \
				--disable-sample-conf \
				--with-Judy
ifeq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
DEB_CONFIGURE_EXTRA_FLAGS +=	--disable-assert
endif

export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_auto_install:
	dh_auto_install
	-rm --verbose -Rf debian/tmp/usr/include
	-rm --verbose -Rf debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/*.*a

override_dh_install:
	dh_install
	-rm --verbose -Rf debian/miredo-dbg/usr/share/doc/miredo-dbg
